<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305336831299-im7ojafjnpcrnso8do733vog7grcq917.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305336831299-im7ojafjnpcrnso8do733vog7grcq917</string>
	<key>API_KEY</key>
	<string>AIzaSyA1BEClK-YasmbEFHVhMB7h97PQtz113hg</string>
	<key>GCM_SENDER_ID</key>
	<string>305336831299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testCrud</string>
	<key>PROJECT_ID</key>
	<string>flutter-gdrive-dace3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-gdrive-dace3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305336831299:ios:030c9960a3070b8a7033f6</string>
</dict>
</plist>